body{
    background-color: #ffffff;
}

:root {
    font-size: 62.5%;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header img{
    width: 15rem;
}

header a{
    padding: 1rem;
    padding-bottom: 0%;
    font-family: "Bebas Neue", sans-serif;
    color: red;
    text-decoration: none;
    position: relative;
    font-size: 1.9rem;
}

header a:hover{
    color: #0094FF;
}


header a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #0094FF;
    transition: width 0.4s ease, left 0.3s ease;
}

header a:hover::after {
    left: 0;
    width: 95%;
}

/* pagina inicial */

.pg-inicial{
    width: 100%;
    height: 30rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    text-align: center;
    justify-content: center;
    display: flex;
}

.texto{
margin: 2rem;
}

.pg-inicial h1{
    font-size: 7rem;
    color: #0094FF;
    font-family: "Bebas Neue", sans-serif;
}

.pg-inicial span{
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    color: red;
}


/* pagina de sobre */

/* .pg-sobre{
    width: 100%;
} */

.pg-sobre .texto-sobre{
    display: flex;
    word-wrap: break-word;
    text-align: center;
    justify-content: space-evenly;
}

#titulo{
    font-size: 4rem;
    color: #0094FF;
    font-family: "Bebas Neue", sans-serif;
}

#conteudo{
    font-size: 2rem;
    width: 90rem;
    font-family: "Poppins", sans-serif;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.cards a{
    text-decoration: none;
}

.img-card {
    position: relative;
    width: 30rem;
    background-color: #0094FF;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    height: 10rem;
    overflow: hidden;
    border: 3px solid #0094FF;
    border-radius: 2rem;
    transition: 1s;
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.texto-escondido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.753);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.img-card h1 {
    color: #ffffff;
    font-size: 2.3rem;
    font-family: "Pacifico", cursive;
    text-align: center;
    padding: 1rem;
}

.img-card:hover .texto-escondido {
    opacity: 1;
}

.img-card:hover{
    scale: 1.1;
}