body {
    background-color: #d5dde7;
    margin: 0;
    overflow-x: hidden;

}


:root {
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: space-evenly;
    height: 7rem;
    border-radius: 0 0 3rem 3rem;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    background-color: aliceblue;
}

header img {
    width: 15rem;
}

header a {
    padding: 1rem;
    padding-bottom: 0%;
    font-family: "Bebas Neue", sans-serif;
    color: #003F86;
    text-decoration: none;
    position: relative;
    font-size: 1.9rem;
}

/* pagina inicial */

.pg-inicial {
    width: 100vw;
    height: 90vh;
    margin-top: 10rem;
    margin-bottom: 3rem;
    text-align: center;
    justify-content: center;
    display: flex;
}

.texto {
    margin: 2rem;
}

.pg-inicial h1 {
    font-size: 7rem;
    color: #003F86;
    margin-bottom: 0;
    font-family: "Bebas Neue", sans-serif;
}

.pg-inicial .ultima-letra {
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    color: transparent;
    position: relative;
}

ion-icon {
    font-size: 3rem;
    padding: 0.5rem;
    transition: 0.5s;
    position: relative;
    color: #003F86;
}


/* pagina de sobre */

.pg-sobre {
    border-radius: 1rem;
    transition: 0.5s linear;
    margin-bottom: 10rem;
}

.pg-sobre .texto-sobre {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#titulo {
    font-size: 6rem;
    color: #003F86;
    font-family: "Bebas Neue", sans-serif;
}

#conteudo {
    font-size: 1.3rem;
    width: 60rem;
    color: #003F86;
    font-family: "Poppins", sans-serif;
}

.grafico {
    justify-content: space-evenly;
    display: flex;
}

.grafico img {
    background-color: #003F86;
    border-radius: 2rem;
}

#menor {
    animation: float1 7s ease-in-out infinite;
    width: 25rem;
    height: 8rem;
}

#maior {
    animation: float2 4s ease-in-out infinite;
}

.equipe-principaisAcoes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.equipe-principaisAcoes h1 {
    display: block;
}

.AcoesPrincipais {
    justify-content: center;
    text-align: center;
}

summary {
    font-size: 4rem;
    color: #003F86;
    font-weight: 200;
    font-family: "Bebas Neue", sans-serif;
}

details span {
    font-size: 1.3rem;
    color: #003F86;
    font-family: "Poppins", sans-serif;
}

/* pagina de serviços */

.page-servicos{
    margin-bottom: 10rem;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #003F86;
    font-family: "Bebas Neue", sans-serif;
}

.cards {
    display: flex;
    margin-top: 5rem;
    justify-content: space-evenly;
}

.card1 {
    align-items: center;
    transform: rotate(-10deg);
    background-image: url('../imagens/servicos/certificado-curso.jpg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    text-align: center;
    width: 20rem;
    border: 4px solid #003F86;
    height: 30rem;
    transition: 1s;
    border-radius: 2rem;
}


.card1 h1 {
    font-size: 2rem;
    font-weight: 200;
    color: #d5dde7;
    font-family: "Bebas Neue", sans-serif;
}

.card1 span {
    font-size: 1.3rem;
    color: #d5dde7;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.card2 {
    align-items: center;
    justify-content: center;
    background-image: url('../imagens/servicos/apresentacao-escola.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 20rem;
    border: 4px solid #003F86;
    height: 30rem;
    transition: 1s;
    border-radius: 2rem;
}

.card2 h1 {
    font-size: 2rem;
    font-weight: 200;
    color: #d5dde7;
    font-family: "Bebas Neue", sans-serif;
}

.card2 span {
    font-size: 1.3rem;
    color: #d5dde7;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.card3 {
    align-items: center;
    justify-content: center;
    background-image: url('../imagens/servicos/voluntario.jpg');
    background-size: cover;
    background-position: center;
    transform: rotate(10deg);
    text-align: center;
    width: 20rem;
    border: 4px solid #003F86;
    height: 30rem;
    transition: 0.5s;
    border-radius: 2rem;
}

.card3 h1 {
    font-size: 2rem;
    font-weight: 200;
    color: #d5dde7;
    font-family: "Bebas Neue", sans-serif;
}

.card3 span {
    font-size: 1.3rem;
    font-weight: 600;
    color: #d5dde7;
    font-family: "Poppins", sans-serif;
}

/* pagina dos cursos */

.page-curso {
    margin-bottom: 10rem;
    height: 80vh;
    border-radius: 1rem;
    padding: 1rem;
}


.texto-curso h1 {
    font-size: 4rem;
    color: #003F86;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Bebas Neue", sans-serif;
}

#titulo-grade {
    font-size: 2.5rem;
    margin-top: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    color: #EA2127;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
}

.texto-curso p {
    font-size: 1.3rem;
    font-weight: 600;
    color: #003F86;
    font-family: "Poppins", sans-serif;
}

.impacto {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.impacto .balao {
    border: 2px solid #003F86;
    width: 30rem;
    height: 10rem;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5rem 0rem 5rem 0rem;
    transition: 1s;
}

.balao h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 1.9rem;
    font-weight: 100;
    color: #003F86;
    font-family: "Bebas Neue", sans-serif;
}

.balao h1 span {
    font-weight: 700;
    color: #EA2127;
}

.carrosel-content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    margin-top: 2rem;
    animation: carrosel 30s linear infinite;
}

.name {
    font-size: 2rem;
    color: #003F86;
    font-family: "Bebas Neue", sans-serif;
}

/* Pagina de prestaçao de contas */

.page-prestacao{
    margin-bottom: 10rem;
}

.main-prestacao {
    display: flex;
    justify-content: space-evenly;
}

.main-prestacao .texto {
    font-size: 6rem;
    color: #003F86;
    font-family: "Bebas Neue", sans-serif;
}

.main-prestacao .texto span {
    color: #EA2127;
}


.carrossel {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    border-radius: 10px;
}

#img1 {
    width: 50rem;
    height: 36rem;
}

#img2 {
    width: 50rem;
    height: 36rem;
}

#img3 {
    width: 50rem;
    height: 36rem;
}

#img4 {
    width: 50rem;
    height: 36rem;
}

#img5 {
    width: 50rem;
    height: 36rem;
}

#img6 {
    width: 50rem;
    height: 36rem;
}

#img7 {
    width: 50rem;
    height: 36rem;
}

#button-carrosel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #EA2127;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Pagina de localização */

.pg-localizacao {
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10rem;
    padding: 1rem;
}

.titulo-localiza h1 {
    font-size: 5rem;
    color: #003F86;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
}

.titulo-localiza p {
    font-size: 1.9rem;
    margin: 0;
    color: #003F86;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.map {
    display: flex;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    justify-content: center;
}

/* pagina formulario */

.pg-forms {
    margin-bottom: 3rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.card-form {
    border: 2px solid #003F86;
    border-radius: 2rem;
    justify-content: center;
    width: 50rem;
    height: 32rem;
}

.titulo-form {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    color: #003F86;
    font-family: "Poppins", sans-serif;
}

label {
    font-size: 1.3rem;
    color: #003F86;
    font-family: "Poppins", sans-serif;
}

.form {
    display: flex;
    justify-content: center;
}

form input {
    padding: 1rem;
    background-color: transparent;
    border: #003F86 2px solid;
    border-radius: 1rem;
    height: 0.3rem;
    margin-bottom: 3rem;
}

#button-form {
    top: 0;
    position: relative;
    background-color: #003F86;
    color: #d5dde7;
    height: 4rem;
    width: 10rem;
    border: none;
    border-radius: 1rem;
    transition: 1s;
}

/* Seção de hovers */

header a:hover {
    color: #003F86;
}

header a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;     /* header */
    width: 0;
    height: 2px;
    background-color: #003F86;
    transition: width 0.4s ease, left 0.3s ease;
}

header a:hover::after {
    left: 0;
    width: 95%;
}

.ultima-letra::before {
    position: absolute;   /* Pagina inicial */
    content: "InstitutoSolidarios";
    color: #EA2127;
    animation: anime 5s linear infinite;
    overflow: hidden;
}

ion-icon:hover {
    color: #EA2127;
}

.card1:hover {
    transform: rotate(5deg);    /* pagina de serviços */
    background-color: #0095ff46;
}
.card2:hover {
    transform: rotate(10deg);
    background-color: #0095ff46;
}
.card3:hover {
    transform: rotate(-5deg);
    background-color: #0095ff46;
}

.balao:hover {
    scale: 1.1;    /* pagina de cursos */
}

#button-carrosel:hover {
    background-color: rgba(0, 0, 0, 0.8);       /* pagina de prestação de contas */
    color: #003F86;
}

#button-form:hover {
    background-color: #EA2127;      /* pagina de formulario */
    color: #d5dde7;
}


/* Seção de KeyFrames */

@keyframes anime {
    0% {
        width: 0%;
    }

    50% {
        width: 50%;     /* pagina inicial */
    }

    100% {
        width: 105%;
    }
}

@keyframes float1 {     /* pagina sobre */
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes float2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes carrosel {       /* pagina curso */
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}